In [1]:
import pandas as pd

In [2]:
#creating data frame
df=pd.read_csv('/Users/apekshagyawali/Downloads/seattle-weather.csv')
df

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [3]:
#printing date column
df.date

0       2012-01-01
1       2012-01-02
2       2012-01-03
3       2012-01-04
4       2012-01-05
           ...
1456    2015-12-27
1457    2015-12-28
1458    2015-12-29
1459    2015-12-30
1460    2015-12-31
Name: date, Length: 1461, dtype: object

In [4]:
type(df.date)

pandas.core.series.Series

In [9]:
df.temp_max.mean()

16.43908281998628

In [10]:
df['temp_max'].max()

35.6

In [13]:
#printing temp>=25
df[df.temp_max>=25]

            date  precipitation  temp_max  temp_min  wind weather
133   2012-05-13            0.0      25.6       9.4   4.2     sun
134   2012-05-14            0.0      26.7      12.8   3.8     sun
187   2012-07-06            0.0      25.0      11.1   2.1     sun
188   2012-07-07            0.0      26.7      12.8   3.8     sun
189   2012-07-08            0.0      28.3      14.4   2.8    rain
...          ...            ...       ...       ...   ...     ...
1333  2015-08-26            0.0      28.3      13.9   1.7     sun
1334  2015-08-27            0.0      29.4      14.4   2.1     sun
1348  2015-09-10            0.0      25.0      14.4   3.6     fog
1349  2015-09-11            0.0      27.2      15.0   3.1     sun
1350  2015-09-12            0.0      26.7      14.4   2.1     sun

[241 rows x 6 columns]