In [1]:
#series object in one dimensional labeled array
import pandas as pd

In [2]:
s1=pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
type(s1)

pandas.core.series.Series

In [4]:
#changing index
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
#series object from dictionary
pd.Series({'s':5,'p':6,'d':7})

s    5
p    6
d    7
dtype: int64

In [13]:
#changing index
s1=pd.Series({'s':5,'p':6,'d':7},index=['d','s','p','f'])
s1

d    7.0
s    5.0
p    6.0
f    NaN
dtype: float64

In [14]:
#extracting a single of elements
l1=[1,4,3,2,6,7,7,9,]
s1=pd.Series(l1)
s1

0    1
1    4
2    3
3    2
4    6
5    7
6    7
7    9
dtype: int64

In [15]:
s1[5]

7

In [16]:
s1[:7]

0    1
1    4
2    3
3    2
4    6
5    7
6    7
dtype: int64

In [17]:
#basic math operation on series

In [18]:
s1

0    1
1    4
2    3
3    2
4    6
5    7
6    7
7    9
dtype: int64

In [19]:
#adding a scalar value to series elements
s1+4

0     5
1     8
2     7
3     6
4    10
5    11
6    11
7    13
dtype: int64

In [20]:
#adding two series objects
s2=pd.Series([5,10,15,20,25,30,40,45])
s1+s2

0     6
1    14
2    18
3    22
4    31
5    37
6    47
7    54
dtype: int64

In [21]:
#creating data frame 
pd.DataFrame({'Name':['Ram','Sam','Hari'],'Marks':[45,32,65]})

   Name  Marks
0   Ram     45
1   Sam     32
2  Hari     65

In [22]:
#printing first five records
rast=pd.read_csv('/Users/apekshagyawali/Downloads/seattle-weather.csv')
rast.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [23]:
#printing last five records
rast.tail()

            date  precipitation  temp_max  temp_min  wind weather
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain
1458  2015-12-29            0.0       7.2       0.6   2.6     fog
1459  2015-12-30            0.0       5.6      -1.0   3.4     sun
1460  2015-12-31            0.0       5.6      -2.1   3.5     sun

In [24]:
#find total rows and columns

In [29]:
rast.shape

(1461, 6)

In [30]:
#basic information of values
rast.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [31]:
#iloc method
rast.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [32]:
rast.iloc[5:11,2:]

    temp_max  temp_min  wind weather
5        4.4       2.2   2.2    rain
6        7.2       2.8   2.3    rain
7       10.0       2.8   2.0     sun
8        9.4       5.0   3.4    rain
9        6.1       0.6   3.4    rain
10       6.1      -1.1   5.1     sun

In [33]:
#.loc method
rast.loc[1:10,("precipitation","temp_max")]

    precipitation  temp_max
1            10.9      10.6
2             0.8      11.7
3            20.3      12.2
4             1.3       8.9
5             2.5       4.4
6             0.0       7.2
7             0.0      10.0
8             4.3       9.4
9             1.0       6.1
10            0.0       6.1

In [34]:
#removing column(col=1)
rast.drop('temp_max',axis=1)

            date  precipitation  temp_min  wind  weather
0     2012-01-01            0.0       5.0   4.7  drizzle
1     2012-01-02           10.9       2.8   4.5     rain
2     2012-01-03            0.8       7.2   2.3     rain
3     2012-01-04           20.3       5.6   4.7     rain
4     2012-01-05            1.3       2.8   6.1     rain
...          ...            ...       ...   ...      ...
1456  2015-12-27            8.6       1.7   2.9     rain
1457  2015-12-28            1.5       1.7   1.3     rain
1458  2015-12-29            0.0       0.6   2.6      fog
1459  2015-12-30            0.0      -1.0   3.4      sun
1460  2015-12-31            0.0      -2.1   3.5      sun

[1461 rows x 5 columns]

In [35]:
#removing rows(rows=0)
rast.drop([2,3,4],axis=0)

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
5     2012-01-06            2.5       4.4       2.2   2.2     rain
6     2012-01-07            0.0       7.2       2.8   2.3     rain
7     2012-01-08            0.0      10.0       2.8   2.0      sun
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1458 rows x 6 columns]

In [36]:
#min values with respect to all columns
rast.min()

date             2012-01-01
precipitation           0.0
temp_max               -1.6
temp_min               -7.1
wind                    0.4
weather             drizzle
dtype: object

In [37]:
#max values with respect to all columns
rast.max()

date             2015-12-31
precipitation          55.9
temp_max               35.6
temp_min               18.3
wind                    9.5
weather                 sun
dtype: object

In [39]:
#mean and median
rast.mean()

/var/folders/5q/xycqttws0ll8pjcw509y6tmh0000gp/T/ipykernel_6844/2865466044.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  rast.mean()

precipitation     3.029432
temp_max         16.439083
temp_min          8.234771
wind              3.241136
dtype: float64

In [40]:
#applying double  method
def double_make(s):
    return s*2
rast[['temp_max','temp_min']].apply(double_make)

      temp_max  temp_min
0         25.6      10.0
1         21.2       5.6
2         23.4      14.4
3         24.4      11.2
4         17.8       5.6
...        ...       ...
1456       8.8       3.4
1457      10.0       3.4
1458      14.4       1.2
1459      11.2      -2.0
1460      11.2      -4.2

[1461 rows x 2 columns]

In [43]:
#to find how many time categorical value is present()
rast['weather'].value_counts()

rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: weather, dtype: int64

In [44]:
#sorting values
rast.sort_values(by='temp_min')

            date  precipitation  temp_max  temp_min  wind weather
706   2013-12-07            0.0       0.0      -7.1   3.1     sun
707   2013-12-08            0.0       2.2      -6.6   2.2     sun
767   2014-02-06            0.0      -1.6      -6.0   4.5     sun
766   2014-02-05            0.0      -0.5      -5.5   6.6     sun
768   2014-02-07            0.0       3.3      -4.9   4.2     sun
...          ...            ...       ...       ...   ...     ...
547   2013-07-01            0.0      31.7      18.3   2.3     sun
228   2012-08-16            0.0      34.4      18.3   2.8     sun
545   2013-06-29            0.0      30.0      18.3   1.7     sun
1274  2015-06-28            0.3      28.3      18.3   2.1    rain
562   2013-07-16            0.0      31.1      18.3   4.1     sun

[1461 rows x 6 columns]